---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Product from "@/components/Product.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ArtistProfile from "@/components/ArtistProfile.astro";
import Products from "@/components/landing/Products.astro";

import { getCollection } from "astro:content";
const { slug } = Astro.params;
const products = await getEntry("products", slug);
const artist = await getEntry("artists", products.data.artist);

const recomendedProduct = await getCollection("products");
---

<BaseLayout>
  <div class="relative mx-auto px-8 max-w-7xl md:px-12">
    <div class="grid grid-cols-1 gap-6">
      <div class="mx-auto text-center"></div>
      <div>
        <Product product={products.data} />
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div>
            <h2 class="text-xl font-semibold my-6">Tentang Pembuat</h2>
            <ArtistProfile artist={artist.data} />
          </div>

          <div>
            <h2 class="text-xl font-semibold mt-6">
              Rekomendasi Produk Lainnya
            </h2>
            <div class="ml-[-50px] mt-[-30px]">
              <Products products={recomendedProduct} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
