---

---

<div>
  <div class="artist-profile flex flex-col gap-4 items-center">
    <div class="flex gap-4 items-center">
      <div class="avatar-wrapper">
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <span class="font-semibold">Agung Bahtiar</span>
        <p class="max-w-[80%] text-gray-300 text-sm">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
          quidem aperiam?
        </p>
      </div>
    </div>
    <div class="profile-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eaque natus
      nulla, perspiciatis exercitationem vitae recusandae assumenda laboriosam
      voluptas cupiditate, tempore temporibus. Quas, animi distinctio debitis
      corporis autem blanditiis iure!
    </div>
  </div>
</div>
